      <article class="sidebar">
        <h3 class="sidebar-title">Les réponses</h3>
      <% defis.forEach(function(item) { %>
          <p><%= item.resultats %></p>
          <h5>des liens de test :</h5>
            <ul>        <% item.liensTest.forEach(function(item) { %>
              <li>
                <a href="<%= item %>" alt="<%= item %>"><%= itemUrl=item.slice(36) %></a>
              </li><%  }); %> 
            </ul>
          <%  }); %>
        <div class="resultats">
          <samp>
            <%= pageApi %>
          </samp>
        </div>
      </article><!-- article -->